@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');

body {
    font-family: 'Alatsi', sans-serif;
}

/* ----- HEADER -----  */

.header-home {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #381613;
}

.header-img {
    width: 120px;
    height: auto;
}

.navbar {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}

.navbar ul li {
    padding: 15px;
    list-style: none;
}

.navbar ul li a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 40px;
    font-size: 18px;
    color: #fff;
}

.title-page {
    font-size: 24pt;
    margin-bottom: 10px;
}


/* ----- GALLERY -----  */

.gallery-imgs {
    display: flex;
    justify-content: center;
    height: auto;
    margin: 80px;
}

.gallery-imgs .img-items{
    width: 190px;
    height: 190px;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #a3a3a3;
}


/* ----- ABOUT -----  */


.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .about-text {
    width: 1260px;
    height: 100px;
    font-size: 20px;
    line-height: 2rem;
}

/* ----- DATE -----  */


.date {
    display: flex;
    position: absolute;
    top: 780px;
    left: 330px;
}

.date h2 {
    font-size: 20px;
    margin-right: 20px;
}

.date span {
    margin-top: 2px;
    color: #747474;
}



/* ----- SOBRE -----  */


.history-sapataria, .history-arnaldo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    line-height: 2rem;
}

.history-sapataria .title-sapataria, .history-arnaldo .title-arnaldo, .title-page {
    margin: 15px;
    font-size: 28px;
    letter-spacing: 2px;
}

.history-sapataria p, .history-arnaldo p {
    width: 1600px;
    margin: 20px;
}

.gallery-imgs-about {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.gallery-imgs-about .img-items-about{
    width: 280px;
    height: 260px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #a3a3a3;
}



.title-page {
    text-align: center;
    margin-top: 40px;
}

.form-contact {
    display: flex;
    justify-content: center;
}

.form-contact input {
    height: 30px;
    margin: 20px;
    border-radius: 5px;
}

.input-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: auto;
    margin: 20px;
}

.form-contact input:last-child {
    height: 150px;
}

.address-contact {
    margin: 20px;
    text-align: center;
}

.icons-contact {
    margin-top: 50px;
    text-align: center;
}

.icons-contact a i {
    margin: 20px;
    font-size: 30px;
    color: #000;
}


/* ----- FOOTER -----  */


.footer-page {
    position: fixed;
    bottom: 0;
    background-color: #381613;
    width: 100%;
    height: 80px;
}

.card-footer {
    position: absolute;
    top: 20px;
    left: 40px;
    color: #fff;
}

.payment-footer {
    position: absolute;
    top: 20px;
    left: 240px;
    color: #fff;
}

.wpp-footer {
    position: absolute;
    top: 50px;
    left: 40px;
    text-decoration: none;
    color: #fff;
}

.fcb-footer {
    position: absolute;
    top: 50px;
    left: 200px;
    text-decoration: none;
    color: #fff;
}

.copyright {
    position: absolute;
    top: 30px;
    left: 900px;
    color: #fff;
}

.address-footer {
    position: absolute;
    top: 35px;    
    right: 30px;
    color: #fff;
}

.address-footer:first-child {
    position: absolute;
    top: 12px;
    right: 30px;
}

.contact-footer {
    position: absolute;
    top: 58px;
    right: 30px;
    color: #fff;
}


/* ----- CATÁLOGO -----  */


.title-catalog {
    text-align: center;
    margin: 20px;
    font-size: 30px;
}

.section-shoe, .section-bag {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section-shoe h1, .section-bag h1 {
font-size: 25px;
}

.section-shoe img, .section-bag img {
    width: 260px;
    margin: 20px;
    transition: all 500ms;
}

.section-shoe img:hover, .section-bag img:hover {
    scale: 1.2;
}